snippet	p5js
const s = { 
	base:  '#883323',
	wi: 800, 
	hi: 600 
};

function setup() {
	var canvas = createCanvas(s.wi, s.hi);
	canvas.parent("p5_js");
	background('#222');
}

function draw() {
	fill(s.base);
	rect(10, 10, 100, 100);
}
endsnippet
